.navbar {
    border: 5px solid black;
    border-radius: 10px;
    align-self: center;
    background-color: rgb(226, 0, 0);
    display: flex;
    position: fixed;
    width: 100%;
    top: 5px;
    left: 5px;
    height: 1.5cm;

}

.logo {
    height: 50px;
    width: 50px;
    display: block;
    background-color: transparent;
    position: relative;

}

.navigation-li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    top: 10px;
    left: 20px;
}

.navigation-li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}